
<h1> Registros </h1>

<label for="id_monedero">Id monedero:</label>
<input type = "text" id = "id_monedero" ng-model = "filtro.id_monedero" placeholder = "id monedero" ng-change = "actualiza_datos()"/><br>

<label for="fecha">fecha:</label>
<input type = "text" ng-model = "filtro.fecha" placeholder = "fecha"  ng-change = "actualiza_datos()"/><br>

<table class="table table-condensed">
 
	<thead>
		<tr>
		<th scope="col">Id monedero</th>
	 	<th scope="col">Id usuario</th>
		<th scope="col">Monto</th>
	    <th scope="col">Fecha transaccion</th>
	   </tr>
	</thead>

	<tbody>
	   <tr ng-repeat = "registro in transacciones track by $index">
			<td>{{registro.id_monedero}}</td>
	     	<td>{{registro.id_usuario}}</td>
			<td>{{registro.monto| currency:'$':2}}</td>
	     	<td>{{registro.fecha_transaccion }}</td>

	   </tr>
	</tbody>

</table>