
<h1> Usuarios </h1>

<div ng-hide = "muestra_info_ok">

	<label for="nombre">Nombre del usuario:</label>

	<input id = "nombre" type = "text" ng-model = "persona.nombre" placeholder = "nombre" /><br>

	<label for="apellido">Apellido del usuario:</label>

	<input id = "apellido" type = "text" ng-model = "persona.apellido" placeholder = "apellido" /><br>

	<label for="contrasenia">Contrasenia del usuario:</label>

	<input id = "contrasenia" type = "text" ng-model = "persona.password" placeholder = "Contraseña del usuario" /><br>

	<label for="verifica">Verifica la contraseña:</label>

	<input id = "verifica" type = "text" ng-model = "persona.verifica" placeholder = "Verifica la contraseña" /><br>

	<label for="contrasenia_usuario">Contrasenia de usuario actual:</label>

	<input id = "contrasenia_usuario" type = "text" ng-model = "contrasenia_usuario" placeholder = "Contraseña del usuario" /><br>

	<button ng-click = "registrar_usuario()"> Registrar usuario </button>

</div>

<div ng-show = "muestra_info_ok">

	<label for="nombre">Nombre del usuario:</label>

	<input id = "nombre" type = "text" ng-model = "usuario_editando.nombre" placeholder = "nombre" /><br>

	<label for="apellido">Apellido del usuario:</label>

	<input id = "apellido" type = "text" ng-model = "usuario_editando.apellido_pat" placeholder = "apellido" /><br>

	<label for="contrasenia">Contrasenia del usuario:</label>

	<input id = "contrasenia" type = "text" ng-model = "usuario_editando.password" placeholder = "Contraseña del usuario" /><br>


	<label for="contrasenia_usuario">Contrasenia de usuario actual:</label>

	<input id = "contrasenia_usuario" type = "text" ng-model = "contrasenia_usuario" placeholder = "Contraseña del usuario" /><br>

	<button ng-click = "guardar_cambios()"> Guardar cambios </button>

	<button ng-click = "eliminar_usuario()"> Eliminar usuario </button>

	<button ng-click = "cancelar()"> Cancelar </button>

</div>


<br>

<p class="text-error" ng-if = "message_error">{{message_error}}</p>
<p class="text-success" ng-if = "message_ok">{{message_ok}}</p>

<br>

<table class="table table-condensed">
 
	<thead>
		<tr>
		<th scope="col">Id</th>
	 	<th scope="col">Nombre</th>
		<th scope="col">Apellido</th>
	    <th scope="col">Contraseña</th>
	   </tr>
	</thead>

	<tbody>
	   <tr ng-repeat = "usuario in usuarios track by $index" ng-click = "click_usuario($index)">
				<td >{{usuario.id_usuario}}</td>
		     	<td>{{usuario.nombre}}</td>
				<td>{{usuario.apellido_pat}}</td>
		     	<td>{{usuario.password}}</td>
	   </tr>
	</tbody>

</table>